body{
    background-color: white;
}

header{
    width: auto;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 0px;
    padding-top: 10px;
    margin: 5px;
    overflow: visible;
}

header nav{
    padding-top: 50px;
    float: right;
}

nav ul li{
    display: inline-grid;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
    font-family: "NEXON Lv1 Gothic OTF";
    font-weight: normal;
    font-size: 10px;
}

nav ul li a{
    color: darkgray;
    text-decoration: none;
}


.shop, .brand{
    padding-top: 50px;
    font-family: "NEXON Lv1 Gothic OTF";
    font-size: 25px;
    color: #4AA8DD;
    text-decoration: underline #FFAC00;
    font-weight: bolder;
}

.intro{
    padding-top: 50px;
    font-size: 15px;
    text-align: center;
    color: dimgray;
    font-weight: bold;
    background-color: #EDEDEB;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.intro2{
    font-size: 10px;
    padding-top: 0px;
    margin-top: 0px;
    padding-bottom: 20px;
    color: darkgray;
    text-align: center;
    background-color: #EDEDEB;
}




.video{
    font-family: "Nexon Lv1 Gothic OTF";
    color: cornflowerblue;
    font-size: 20px;
}

#chart{
    padding: 40px;
    margin: auto;
}


section{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    padding: 20px;
    font-family: "NEXON Lv1 Gothic OTF";
}


footer{
    width: 80%;
    padding-top: 50px;
    margin-right: auto;
    margin-left: auto;
    color: darkgray;
    text-align: center;
    font-size: 6px;
    font-family: "-윤고딕320";
}


table2, table3, table4{
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
}


ul{
    list-style-type: square;
}


@font-face{
 font-family: "NEXON Lv1 Gothic OTF";
 src: url('NEXON Lv1 Gothic OTF.otf');
}


@font-face{
 font-family: "-윤고딕320";
 src: url('-윤고딕320.ttf');
}

