body{
    background-color: white;
}

header{
    width: auto;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0px;
    padding-top: 10px;
    margin: 5px;
    overflow: visible;
}

header nav{
    padding-top: 50px;
    float: right;
    font-family: "NEXON Lv1 Gothic OTF Bold" whitesmoke;
    font-size: 10px;
}

nav ul li{
    display: inline-grid;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

nav ul li a{
    color: darkgray;
}

.shop, .brand{
    font-size: 40px;
    font-family: bolder;
    text-shadow: 1px 5px 5px darkgray;
    font-family: "NEXON Lv1 Gothic OTF Bold";
}

.clo{
    font-size: 20px;
    font-family: "Nexon Lv1 Gothic OTF";
    margin-right: auto;
    margin-left: auto;
}

.video{
    font-family: "Nexon Lv1 Gothic OTF";
    color: cornflowerblue;
    font-size: 20px;
}

#chart{
    padding: 40px;
}



section{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    padding: 20px;
}

section h1{
    background-color: beige;
    font-family: "NEXON Lv1 Gothic OTF";
}

footer{
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    color: gray;
    background-color: white;
    text-align: center;
}

ul{
    list-style-type: square;
}


@font-face{
 font-family: "넥슨Lv고딕 OTF Light";
 src: url('넥슨Lv고딕 OTF Light.otf');
}

@font-face{
 font-family: "NEXON Lv1 Gothic OTF";
 src:url('NEXON Lv1 Gothic OTF.otf');
}

@font-face{
 font-family: "넥슨Lv1고딕 OTF Bold";
 src:url('넥슨Lv1고딕 OTF Bold.otf');
}


header nav{
 font-family: "넥슨Lv1고딕 OTF Bold";
}

body{
 font-family: "넥슨Lv1고딕 OTF Light";
}


table2{
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

a{
    text-decoration: none;
    color: black;
}